# 忽略临时文件和个人设置
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/

# Flutter/Dart相关
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# 确保不忽略重要的目录和文件
!lib/
!assets/
!test/
!pubspec.yaml
!pubspec.lock
